
body {
  background-color: #DADED4;
  background-image: url("../assets/images/background.jpeg");
  background-size: cover;
}

#smart-currency {
color: blue;
font-weight: bold;
}

#smart-currency2 {
  color: rgb(231, 230, 230, 0.5);
  font-size: 20px;
}

.jumbotron {
  min-height: 70px;
  background-color: rgb(96,97,91, 0.5)
}

h1 {
  text-align: center;
  color: #ffffff;
  top: 1vw;
  right: 55vw;
  position:absolute;
}

#search-card {
  display:flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40vw;
  width: 95vw;
  left: 3vw;
  border-radius: 4px;
  font-size: 37;
  text-align: center;
}

#button-area{ 
left: 16vw;
top: 33vw;
position: relative;
font-family: 'Oranienbaum', serif;
color: white;
font-size: 25px;
display: block;
display: none;
}

#new-search:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

#new-search {
  display:none;
  top: 30.7vw;
  left: 41vw;
  position:absolute;
  box-shadow: 0px 10px 14px -7px #28bdd4;
  background:linear-gradient(to bottom, rgb(207, 60, 60) 5%, red 100%);
  background-color:#599bb3;
  border-radius:8px;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:italic;
  padding:10px 15px;
  text-shadow:0px 1px 23px #3d768a;
  width: 12vw;
  height: 2.3vw;
  display:none;
}

#main-word {
  position: absolute;
  top: 10vw;
  left: 12vw;
  font-size: 55px;
  color: white;
  font-family: 'Oranienbaum', serif;
  font-weight: 900;
  height: 40px;
  animation: an 3s ease-out 1 both;
  display: inline-block;
}

#sub-word {
  position: absolute;
  display:flex;
  bottom: 23.8vw;
  left: 24vw;
  font-size: 60px;
  color: white;
  font-family: 'Oranienbaum', serif;
  border: 4px solid rgb(18, 18, 241, 0.4);
  border-radius: 4px;
  font-weight: 900;
  height: 4.5vw;
  width: 45vw;
  background-color: rgb(18, 18, 241, 0.4);
  display:none;
}

#third-word {
  color: rgba(255, 255, 255);
  position: absolute;
  bottom: 19vw;
  font-size: 23px;
  display:none;
}

#easy-word {
  position: absolute;
  font-weight: bold;
  top: 10vw;
  color:green;
  left: 50vw;
  font-size: 55px;
  font-family: 'Oranienbaum', serif;
  color: #3C403D;
  font-stretch: condensed;
  transform: scale(1, 2);
}
#output {
  display: flex;
  font-family: 'Oranienbaum', serif;
  position: absolute;
  color:white;
  height: 30vw;
  width: 95vw;
  left: 3vw;
  top: 10vw;
  background-color: rgb(199, 199, 199, 0.7);
  border-radius: 4px;
  display: none;
  font-size: 35px;
  font-weight: bold;
  padding: 1vw;
  overflow: scroll;
}
.center{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  width: 70%;
  font-size: 30px;
  display: block;
  text-align: center;
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}