* {
  box-sizing: border-box;
}
body {
  background-color: #DADED4
}
h1 {
  text-align: center;
  color: #3C403D;
  top: 1vw;
  right: 55vw;
  position:absolute;
  display:none;
}
#search-card {
  display:flex;
  position: absolute;
  border: 4px solid rgb(59,100,59, 0.5);
  background-color: rgb(59,100,59, 0.5);
  height: 40vw;
  width: 80vw;
  border-radius: 4px;
  font-size: 37;
  text-align: center;

}
#button-area{ 
left: 10vw;
top: 33vw;
position: relative;
font-family: 'Oranienbaum', serif;
color: white;
font-size: 25px;
display: block;
display: none;
}

#new-search:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

#new-search {
  display:none;
  top: 25vw;
  left: 30vw;
  position:absolute;
  box-shadow: 0px 10px 14px -7px #28bdd4;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color:#599bb3;
  border-radius:8px;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:italic;
  padding:20px 76px;

  text-shadow:0px 1px 23px #3d768a;
}

#main-word {
  position: absolute;
  top: 10vw;
  left: 16vw;
  font-size: 55px;
  color: white;
  font-family: 'Oranienbaum', serif;
  font-weight: 900;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}
#easy-word {
  position: absolute;
  font-weight: bold;
  top: 10vw;
  color:green;
  left: 50vw;
  font-size: 55px;
  font-family: 'Oranienbaum', serif;
  color: #3C403D;
  font-stretch: condensed;
  transform: scale(1, 2);


}

#output {
  display: flex;
  font-family: 'Oranienbaum', serif;
  position: absolute;
  color:white;
  width: 35vw;
  height: 15vw;
  right: 40vw;
  top: 10vw;
  background-color: rgb(199, 199, 199, 0.7);
  border-radius: 4px;
  display: none;
}
.center{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  width: 70%;
  font-size: 30px;
  display: block;
  text-align: center;
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}